[include mainsail.cfg]
[include steppers.cfg]
[include extruder.cfg]
[include fans.cfg]
[include sensors.cfg]
[include Adaptive_Mesh.cfg]
[include mesh.cfg]
[include timelapse.cfg]
[include Macro.cfg]
[include kshaketune.cfg]
[include motors_sync.cfg]
[include Speed.cfg]
[include bltouch.cfg]
[include Exclude_Object.cfg]
[include git_update.cfg]
[include firmware_retraction.cfg]
[include adxl.cfg]
#[include ADXL_SHAPER.cfg]
[include shell_command.cfg]
[include Z_offset.cfg]
[include PID.cfg]
[include auto_speed.cfg]
#[include START_END_PRINT.cfg]



[idle_timeout]
timeout: 4800

[force_move]
enable_force_move: True

[verify_heater extruder]
max_error: 200 #(in seconds, default is 120)

########################################
# MAIN
########################################

[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32f446xx_43003D000651303532383235-if00 

[printer]
kinematics: limited_corexy
max_velocity: 1000
max_accel: 10000
minimum_cruise_ratio: 0.1
max_x_accel: 5000
max_y_accel: 5000
scale_xy_accel: true
max_z_velocity: 20
max_z_accel: 1500
square_corner_velocity: 15.0

########################################
# HEATED BED
########################################

[heater_bed]
heater_pin: PA1
sensor_pin: PF3
sensor_type: ATC Semitec 104GT-2
max_power: 0.7
pwm_cycle_time: 0.0166
min_temp: 0
max_temp: 120

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [bltouch]
#*# z_offset = 4.865
#*#
#*# [input_shaper]
#*# shaper_type_x = mzv
#*# shaper_freq_x = 93.6
#*# shaper_type_y = 2hump_ei
#*# shaper_freq_y = 39.0
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	0.027187, 0.033750, 0.038437, 0.026562, -0.034688, -0.076250
#*# 	0.077812, 0.105000, 0.103750, 0.086875, 0.010312, -0.075625
#*# 	0.125312, 0.166250, 0.169062, 0.137812, 0.055312, -0.056875
#*# 	0.098750, 0.139375, 0.139375, 0.115625, 0.022500, -0.091250
#*# 	0.066875, 0.105312, 0.103750, 0.079375, -0.006563, -0.109375
#*# 	0.032187, 0.065937, 0.077812, 0.051250, -0.012188, -0.124688
#*# x_count = 6
#*# y_count = 6
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = lagrange
#*# tension = 0.1
#*# min_x = 26.0
#*# max_x = 293.0
#*# min_y = 17.0
#*# max_y = 275.0
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 52.683
#*# pid_ki = 0.732
#*# pid_kd = 948.292
